html body{
    height: 100%;
    width: window;
    color: #362B18;
    background-color: #1A1B1A;
    padding: 10px;
    font-family: 'Merriweather Sans', sans-serif;
}

/* GLOBAL TEXT STYLING */
h1 {font-family: 'Roboto Slab', sans-serif;
    color: inherit;
    font-weight: bold;
    font-size: 25px;}

h2 {font-size: 16px;}

p {font-size: 14px; font-weight: lighter;}

input {font-size: 14px;}

q {font-family: 'Roboto Slab'; 
    font-size: 20px;
    line-height: 30px;
    text-align: center;}

/* NAVIGATION BAR */
.navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: #DFD4C1;
    border-style: solid;
    border-width: 1px;
    border-color: #DFD4C1;
    border-radius: 40px;
    padding: 20px 90px 20px 90px;
    margin-bottom: 8px;
}

.logo{
    padding-top: 6px;
}

.navbar a{
    font-family: 'Merriweather Sans';
    text-decoration: none;
    color: inherit;
}

/* GENERIC SECTION STYLING  */
#mySection{
    display: flex;
    flex-direction: column;
    border-radius: 10px;

    padding: 30px 90px 30px 90px;
    margin-bottom: 10px;

    gap: 20px;

    width: window;
}

/* FEATURED SECTION */
.beige{
    background-color: #A39B7A;
}

.featuredHeading{
    padding: 5px;
    border-style: solid;
    border-color: #362B18;
    border-bottom-width: 1px;
    font-size: inherit;
}

.sliderContainer{
   overflow-x: scroll;
   padding: 5px;
}

.slider{
    display: flex; flex-direction: row;
    gap: 20px;
    width: 1300px;
}

.favourite{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 40px; /* Set initial width to fill parent container */
    max-width: 50px; /* Set maximum width for larger screens */
}

.bookWrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    height: auto;
    gap: 8px;
    transition: transform 0.3s ease; /* Add transition property for smooth scaling */
}
.bookWrapper:hover {
    transform: scale(0.95);/* Apply the scaling effect on hover */
}

.bookImage img{
    width: 180px; height: 280px;
}

.bookTitles{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.bookTitles h2{
    font-weight: bold;
}

.bookTitles p{
    font-size: 13px;
    color: #505050;
}

/* SPLIT VIEW SECTIONING */
.splitGroup{
    display: flex;
    flex-direction: row;
    gap: 10px;
}


/* MY BOOKSHELF SECTION  */
.myBookshelf{
    background-color:#CC9980;
    width: 60%;
}

.mega p{
    margin-bottom: 20px;
}

.mega{
    overflow-x: scroll;
}

.tableWrapper{
    /* overflow-x: scroll; */
    /* background-color: grey; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

/* Generated Book list table  */
table {
    font-size: 11px;
    margin-top: -20px;
    width: 100%;
}

thead {
    font-weight: bold;
    border-bottom: 1px solid #362B18;
    font-size: 13px;
    width: 100%;
}
th {
    padding: 5px;
    text-align: left;
}
td {
    padding: 5px;
    font-size: 13px;
    font-weight: 400;
}

button{
    background-color: #1A1B1A;
    border: none;
    color: #CC9980;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover{
    background-color: #525252;
    transform: scale(0.90);
    transition-duration: 0.5s;
}

/* QUOTE SECTION  */
.quoteWrapper{
    background-color: #B5A28C;
    width: 40vw;
}

aside {
    background-color: #B5A28C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* FORM SECTION */
.lightBeige{
    background-color: #DFD4C1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    /* border: 1px solid red; */
    width: 300px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    font-size: 14px;
}
input::placeholder {
    color: #A1A1A1;
}

input[type="text"],
select,
input[type="number"],
textarea {
    width: 100%;
    padding: 8px;
    border: 0px;
    border-radius: 4px;
    margin: 5px 0px 10px 0px;
    color: #A1A1A1;
    font-family:inherit;
}

select {
    color: #A1A1A1;
}


/* Styling for file upload button  */
input::file-selector-button {
    background-color: white;
    background-position-x: 0%;
    background-size: 200%;
    padding: 8px;
    border: 0px;
    border-radius: 4px;
    margin: 5px 10px 10px 0px;
    color: #A1A1A1;
    transition: all 0.25s;
  }
  input::file-selector-button:hover {
    background-position-x: 100%;
    transform: scale(0.90);
  }

input[type="submit"] {
    padding: 5px 10px;
    background-color: #DD674C;
    color: #DFD4C1;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

input[type="submit"]:hover {
background-color: #F29A86;
transform: scale(0.90);
transition-duration: 0.5s;
}

textarea {
    resize: vertical;
}



/* FOOTER  */
#footer{
    height: 20vh;
    padding: 50px 90px 50px 90px;
    display: flex;
    justify-content: center;
}

#footer img{
    max-width: 120px;
    height: auto;
    object-fit: contain;
}



/* RESPONSIVE FOR PHONE */
@media screen and (max-width: 700px) {
    html body {
      padding: 5px; 
    }
  
    /* NAVIGATION BAR */
    .navbar {
      flex-direction: column;
      align-items: center;
      padding: 5px;
    }
  
    .navbar a {
        margin-top: 10px;
    }

    /* GENERIC SECTION STYLING */
    #mySection {
    padding: 20px 20px 20px 20px;
    }


    .bookTitles{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    /* SPLIT VIEW SECTIONING */
    .splitGroup {
      flex-direction: column;
      gap: 0px;
    }
  
    /* MY BOOKSHELF SECTION */
    .myBookshelf {
      width: 100%;
    }

   
    /* QUOTE SECTION */
    .quoteWrapper {
      width: 100%;
    }
  
    /* FORM SECTION */
    form {
      width: 100%;
    }
  
    input[type="text"],
    select,
    input[type="number"],
    textarea {
      font-size: 12px;
    }
  
    /* FOOTER */
    #footer {
      padding: 20px;
    }
  }
  
/* For even smaller screens  */
@media screen and (max-width: 300px){
    nav img{
        width: 50vw;
    }

    input::file-selector-button {
        display: flex;
    }

    footer img{
        width: 50vw;
    }
}