html body{
    height: 100%;
    width: window;
    color: #362B18;
    background-color: #1A1B1A;
    padding: 10px;
    font-family: 'Merriweather Sans', sans-serif;
}

/* GLOBAL TEXT STYLING */

div h1 {
    font-family: 'Roboto Slab', sans-serif;
    color: inherit;
    font-size: 25px;
}

div h2 {
    font-size: 16px;
}

div p{
    font-size: 14px;
    
}

/* NAVIGATION BAR */
.navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: #DFD4C1;

    border-style: solid;
    border-width: 1px;
    border-color: #DFD4C1;
    border-radius: 40px;

    padding: 10px 90px 10px 90px;

    margin-bottom: 8px;
}

.navbar a{
    font-family: 'Merriweather Sans';
    text-decoration: none;
    color: inherit;
}

.menulist{
    list-style: none;
    display: flex;
    gap: 25px;
}

.menuitem :hover{
    padding: 10px;
    border-style: solid;
    border-color: #E0D5C2;
    border-width: 1px;
    border-radius: 20px;
    transition: 0.3s;
}

/* GENERIC SECTION STYLING  */
#mySection{
    display: flex;
    flex-direction: column;
    border-radius: 10px;

    padding: 20px 90px 20px 90px;
    margin-bottom: 10px;

    gap: 20px;
}

/* FEATURED SECTION */
.beige{
    background-color: #A39B7A;
}

.featuredHeading{
    padding: 5px;
    border-style: solid;
    border-color: #362B18;
    border-bottom-width: 1px;
    font-size: inherit;
}


.slider{
    display: flex; flex-direction: row;
    border: #2c702c;
    border-width: 2px;
    border-style: solid;
    gap: 20px;
    overflow: show;
}

.favourite{
    position: absolute;
    top: -20px;
    right: -20px;
}

.bookWrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    border: red;
    border-width: 2px;
    border-style: solid;

    width: 185px;
    height: auto;

    gap: 8px;
}

.bookImage img{
    width: 100%; height: auto;
}

.bookTitles{
    gap: 20px;
}

/* SPLIT VIEW SECTIONING */
.splitGroup{
    display: flex;
    flex-direction: row;
    gap: 10px;
}


/* MY BOOKSHELF SECTION  */
.myBookshelf{
    background-color:peachpuff;
    width: 70%;
}

/* QUOTE SECTION  */
.quoteWrapper{
    background-color: #B5A28C;
    width: 30%;
}

aside {
    width: 30vw;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    float: right;
}




/* Responsive for phone */
@media screen and (max-width: 600px){
    
}